.adicionar {
    background-color: #ffffff;
    min-height: 812px;
    min-width: 375px;
    position: relative;
    width: 100%;
  }
  
  .adicionar .header {
    background-color: transparent;
    height: 56px;
    left: 0;
    position: absolute;
    top: 44px;
    width: 375px;
  }
  
  .adicionar .profile-image {
    height: 24px;
    left: 335px;
    object-fit: cover;
    position: absolute;
    top: 16px;
    width: 24px;
  }
  
  .adicionar .text-wrapper-2 {
    color: #000000;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 20px;
    font-weight: 600;
    left: calc(50.00% - 56px);
    letter-spacing: -0.40px;
    line-height: 28.0px;
    position: absolute;
    text-align: center;
    top: 14px;
    white-space: nowrap;
  }
  
  .adicionar .icon-menu {
    display: flex;
    flex-direction: column;
    gap: 4.2px;
    height: 42.86%;
    left: 4.27%;
    position: absolute;
    top: 28.57%;
    width: 6.40%;
  }
  
  .adicionar .line {
    height: 1.8px;
    margin-left: 3.1px;
    margin-top: 5.1px;
    width: 17.8px;
  }
  
  .adicionar .img {
    height: 1.8px;
    margin-left: 3.1px;
    width: 14px;
  }
  
  .adicionar .line-2 {
    height: 1.8px;
    margin-left: 3.1px;
    width: 17.8px;
  }
  
  .adicionar .tab-bar {
    -webkit-backdrop-filter: blur(10px) brightness(100%);
    backdrop-filter: blur(10px) brightness(100%);
    background-color: #ffffff;
    bottom: 0;
    box-shadow: 0px -0.5px 0px #0000001a;
    display: flex;
    flex-direction: column;
    height: 83px;
    justify-content: space-between;
    left: calc(50.00% - 188px);
    position: absolute;
    width: 375px;
  }
  
  .adicionar .tabs {
    flex: 1;
    height: 49px;
    max-height: 49px;
    position: relative;
  }
  
  .adicionar .tab-bar-item {
    height: 49px;
    left: calc(50.00% - 180px);
    position: absolute;
    top: 0;
    width: 76px;
  }
  
  .adicionar .frame-wrapper {
    display: flex;
    height: 49px;
    left: calc(50.00% - 84px);
    opacity: 0.5;
    position: absolute;
    top: 0;
    width: 76px;
  }
  
  .adicionar .frame {
    display: flex;
    margin-left: 23px;
    margin-top: 10px;
    width: 31px;
  }
  
  .adicionar .icon-wrapper {
    height: 30px;
    position: relative;
    width: 31px;
  }
  
  .adicionar .icon {
    height: 58.33%;
    left: 20.83%;
    position: absolute;
    top: 20.83%;
    width: 58.33%;
  }
  
  .adicionar .image-wrapper {
    display: flex;
    height: 49px;
    left: calc(50.00% + 8px);
    opacity: 0.5;
    position: absolute;
    top: 0;
    width: 76px;
  }
  
  .adicionar .image {
    aspect-ratio: 0.71;
    height: 23px;
    margin-left: 30px;
    margin-top: 13px;
    object-fit: cover;
    width: 16px;
  }
  
  .adicionar .img-wrapper {
    display: flex;
    height: 49px;
    left: calc(50.00% + 104px);
    opacity: 0.5;
    position: absolute;
    top: 0;
    width: 76px;
  }
  
  .adicionar .image-2 {
    aspect-ratio: 1.19;
    height: 23px;
    margin-left: 25px;
    margin-top: 13px;
    object-fit: cover;
    width: 27px;
  }
  
  .adicionar .home-indicator {
    align-self: center;
    background-color: #000000;
    border-radius: 100px;
    height: 5px;
    margin-bottom: 8px;
    margin-left: 3px;
    width: 134px;
  }
  
  .adicionar .text-wrapper-3 {
    color: #000000;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 20px;
    font-weight: 600;
    left: 16px;
    letter-spacing: 0;
    line-height: 28.0px;
    position: absolute;
    top: 295px;
    white-space: nowrap;
  }
  
  .adicionar .status-bar {
    height: 44px;
    left: 0;
    position: absolute;
    top: 0;
    width: 375px;
  }
  
  .adicionar .hero-banner {
    aspect-ratio: 2.42;
    height: 155px;
    left: 2px;
    position: absolute;
    top: 123px;
    width: 373px;
  }
  
  .adicionar .form-contact-instance {
    display: flex !important;
    height: 368px !important;
    left: 16px !important;
    min-width: unset !important;
    position: absolute !important;
    top: 334px !important;
    width: 343px !important;
  }
  
  .adicionar .form-contact-2 {
    background-color: #ff7105 !important;
    border-color: unset !important;
    display: flex !important;
    flex: 1 !important;
    flex-grow: 1 !important;
    left: unset !important;
    top: unset !important;
  }
  
  .adicionar .form-contact-3 {
    align-self: stretch !important;
    flex: 0 0 auto !important;
    left: unset !important;
    margin-bottom: -2.00px !important;
    top: unset !important;
    width: 100% !important;
  }
  